<div class="auth-page">
  <mat-card class="auth-page__card">
    <h1 class="auth-page__title">Reset Password</h1>
    <p class="auth-page__subtitle">Choose a new password for your account</p>

    @if (errorMessage()) {
      <p class="auth-page__error">{{ errorMessage() }}</p>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="auth-page__field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email"  placeholder="nom@exemple.com"/>
      </mat-form-field>

      <mat-form-field class="auth-page__field" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
          placeholder="password"
        />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.get('password')?.hasError('strongPassword') && form.get('password')?.touched) {
          <mat-error>Must have 8+ chars, upper, lower, number & symbol.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="auth-page__field" appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input
          matInput
          [type]="hideConfirm() ? 'password' : 'text'"
          formControlName="password_confirmation"
          placeholder="password"
        />
        <button mat-icon-button matSuffix type="button" (click)="toggleConfirmVisibility()">
          <mat-icon>{{ hideConfirm() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.get('password_confirmation')?.hasError('passwordMismatch') && form.get('password_confirmation')?.touched) {
          <mat-error>Passwords do not match.</mat-error>
        }
      </mat-form-field>

      <div class="auth-page__actions">
        <button mat-flat-button color="primary" type="submit" [disabled]="isSubmitting()">
          @if (isSubmitting()) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            Reset Password
          }
        </button>
      </div>
    </form>

    <div class="auth-page__footer">
      <a routerLink="/auth/login">Back to sign in</a>
    </div>
  </mat-card>
</div>