<div class="auth-page">
  <mat-card class="auth-page__card">
<h1 class="auth-page__title">SUMA</h1>
<p class="auth-page__subtitle">Système Universitaire de Management Académique</p>
    @if (errorMessage()) {
      <p class="auth-page__error">{{ errorMessage() }}</p>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="auth-page__field" appearance="outline">
        <mat-label>Adresse e-mail</mat-label>
        <input matInput type="email" formControlName="email" autocomplete="email"  placeholder="nom@exemple.com"/>
        @if (form.get('email')?.hasError('required') && form.get('email')?.touched) {
          <mat-error>L’adresse e-mail est obligatoire.</mat-error>
        }
        @if (form.get('email')?.hasError('email') && form.get('email')?.touched) {
          <mat-error>Saisissez une adresse e-mail valide.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="auth-page__field" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
          placeholder="Mot de passe"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.get('password')?.hasError('required') && form.get('password')?.touched) {
          <mat-error>Le mot de passe est obligatoire.</mat-error>
        }
      </mat-form-field>

      <div class="auth-page__actions">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="isSubmitting()"
        >
          @if (isSubmitting()) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            Se connecter
          }
        </button>
      </div>
    </form>

    <div class="auth-page__footer">
      <a routerLink="/auth/forgot-password">Mot de passe oublié ?</a>
      <p>Vous n’avez pas de compte ? <a routerLink="/auth/register">Inscrivez-vous</a></p>
    </div>
  </mat-card>
</div>